attrs>=21.4.0
myst-parser>=0.17.0
Sphinx>=5.0.0
sphinx-rtd-theme>=1.0.0
sphinxcontrib-blockdiag>=3.0.0
sphinxcontrib-mermaid>=0.7.1
sphinxcontrib-pandoc-markdown>=1.6.8
sphinxcontrib-seqdiag>=3.0.0
sphinxjp.themecore>=0.2.0
sphinxjp.themes.trstyle>=0.1.1
blockdiag>=3.0.0
seqdiag>=3.0.0
Pillow>=9.1.0
